push constant 10 // put a 10 on the stack
push constant 11 // put an 11 on the stack 

// ~~~~~~~~~~~~~~~~~~~~~~ Useless comment ~~~~~~~~~~~~~~~~~~~~~~~
// \\\\//// \\\\ /// \\\ /// \\ / \/ \/ \/ \/ \/ \/ \/ 
// \\\/// asdfadfasfdasdfasdfasfd

// take stuff in the stack and add it tgether
// should give you 10 + 11 = 21
add
push constant 40
push constant 30

// add 40 + 30 = 70
add

// another add will add up those values 
// should add 70 + 21 = 91
add
